#banner {
    height: 80px;
    color: #E17009;
    width: 100%;
    background: #3b5998;
    background-repeat: repeat-x;
    font-family: 'Trebuchet MS' 'Sans-Serif';
    font-size: 18px;
    vertical-align: bottom;
    background-position: top;
    margin: 0 auto;
}
#subBanner
{
     width:950px; height:112px; margin:0 auto; background-image:url('../images/logo.jpg'); background-position:top; background-repeat:no-repeat;
}
.widget {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #c9c9c9;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    margin-bottom: 5px;
    margin-top: 0;
    min-height: 450px;
    position: relative;
    top:-10px;
}

.widget .widget-head, .modal-header {
    background: -moz-linear-gradient(center top , #f8f8f8, #f2f2f2) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #fff;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    color: #666;
    font-size: 14px;
    font-weight: bold;
    padding: 8px 15px;
   
    text-shadow: 0 1px #fff;
}